<!DOCTYPE html>
<html>
<% include head.ejs %>      <!--Include head section (same for all pages)-->
<!--Javascripts includes-->
<script src='/javascripts/alert.js' type='text/javascript' ></script>

<!--Inline Javascript-->
<script>
  function confirm(){
    var url_string = window.location.href;
    var url = new URL(url_string);
    var c = url.searchParams.get("test");
    console.log(c);
    if(c!=null) {
      AlertSuccess('Formularz','Dane zostały przesłane. Wybrano '+c);
    }
  }
</script>

<body onload="confirm()">
<div id="alerts"></div>
<div id="page" class=page>      <!--Div page with id=page - main container-->
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
  <a class=link href="index.ejs" tabindex="100">test link</a><br><br>

  <form>
    Wpisz tekst:
    <input id="input1" tabindex="100" type="text"><br>
    <input type="radio" tabindex="100" id="opt1" name="test" value="radio1" checked>
    <label for="opt1"><span></span>Radiobutton 1</label>
    <br>
    <input type="radio" tabindex="100" id="opt2" name="test" value="radio2">
    <label for="opt2"><span></span>Radiobutton 2</label>
    <br>
    <input type="radio" tabindex="100" id="opt3" name="test" value="radio3">
    <label for="opt3"><span></span>Radiobutton 3</label>
    <br>
    <input type="checkbox" tabindex="100" id="opt4" name="testcheck" value="tc">
    <label for="opt4"><span></span>Checkbox</label>
    <br>
    <input type="submit" tabindex="100" value="Submit">
    <input type="button" tabindex="100" value="=" onclick="AlertWarning('tytuł','tekst alertu')"><br>
  </form>
  <br>
  <a class=button href="javascript:Alert('tytuł','tekst alertu')" tabindex="100">test link</a>
  <a class=button href="javascript:AlertError('tytuł','tekst alertu')" tabindex="100">test link</a>
  <br>
  <br>
  <table class=table>
    <tr>
      <th>kol1</th>
      <th>kol2</th>
      <th>kol3</th>
    </tr>
    <tr>
      <td>kol1</td>
      <td>kol2</td>
      <td>kol3</td>
    </tr>
    <tr>
      <td>kol1</td>
      <td>kol2</td>
      <td>kol3</td>
    </tr>
    <tr>
      <td>kol1</td>
      <td>kol2</td>
      <td>kol3</td>
    </tr>
    <tr>
      <td>kol1</td>
      <td>kol2</td>
      <td>kol3</td>
    </tr>
  </table>
  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d190.37648676012827!2d19.937996864555394!3d50.06024835061646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgoogle+maps!5e0!3m2!1spl!2spl!4v1552668666124" width=100% height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<% include header.ejs %>      <!--Include header (top menu logo etc)-->
<% include footer.ejs %>      <!--Include footer-->
</body>
</html>